body{
    background-color: #ECE9E6;
}
nav>ul{
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:black;
}

header>h1{
    text-align: center;
}
 nav ul li {
        float: left;
}
nav ul li a {
    text-decoration: none;
    display: block;
    color: white;
    padding:  15px;
}
nav ul li a:hover {
    background-color:#faaca8;
    color:purple;
}

article{ 
    margin: 15px;
    padding: 0 6px;
    background-color: #faaca8;
}
.nav-active {
    background-color:#faaca8;
    color:black;

}
@media only screen and (max-width: 800px) {
    nav ul li {
        float: none;
    }
  }